#!/usr/bin/env ruby

compile '/index.erb.html' do
  layout '/home.*'

  write item.identifier.without_exts + '.html'
end

compile '/**/*.erb.html' do
  filter :erb
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.without_exts + '.html'
  else
    write item.identifier.without_exts + '/index.html'
  end
end

compile '/**/*.md' do
 filter :kramdown
 layout '/default.*'

 if item.identifier =~ '**/index.*'
   write item.identifier.to_s
 else
   write item.identifier.without_ext + '.html'
 end
end

compile '/**/*.html' do
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/**/*.scss' do
  filter :sass, syntax: :scss
  write @item.identifier.without_ext + '.css'
end

compile '/**/*' do
  write item.identifier.to_s
end

# images & static
route '/assets/images/*' do
  item.identifier.chop + '.' + item[:extension]
end
compile '/assets/images/*' do

end

layout '/**/*', :erb
