<!DOCTYPE HTML>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @config[:name] %> – <%= @item[:title] %></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--link rel="stylesheet" href="/stylesheet.css"-->
  </head>
  <body>
    <div class="container-fluid">
      <div class="row mt-5 mb-3">
        <div class="col-md-11 offset-md-1">
          <h1>
            <a><%= @config[:name] %></a>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-1">
          <%= yield %>
        </div>
        <div class="col-md-3">
          <ul>
            <li><a href="https://nanoc.ws/doc/">Home</a></li>
            <li><%= link_to('About Me', @items['/about.*']) %></li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
